/*for ghostmeat font*/
@font-face {
 font-family: 'MyCustomFont'; /* Name you will use in your styles */
 src: url('Ghostmeat.otf') format('opentype');
 font-weight: normal; /* You can define different weights if needed */
 font-style: normal;  /* Or italic if it's an italic font */
}

/* Basic styling for the page + fallback font?*/
body {
	font-family: 'Rubik Spray Paint', sans-serif;
	margin: 40px;
	text-align: center;
	background-color: #f0f8ff;
	color: #333;
}

/* Styling the heading */
h1 {
	color: #005f73;
	font-size: 3rem;
	margin-bottom: 20px;
}

/* Styling the paragraph */
p {
	font-size: 1.2rem;
	line-height: 1.6;
}

/* Add hover effect for links */
a {
	color: #0077b6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #023e8a;
}
