/*for ghostmeat font*/
@font-face {
	font-family: 'Ghostmeat';
	src: url('Ghostmeat.woff2') format('woff2'),
	     url('Ghostmeat.woff') format('woff'),
	     url('Ghostmeat.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

/* Basic styling for the page + fallback font?*/
body {
	font-family: 'Ghostmeat', sans-serif;
	margin: 40px;
	text-align: center;
	background-color: #f0f8ff;
	color: #333;
}

/* Styling the heading */
h1 {
	color: #005f73;
	font-size: 3rem;
	margin-bottom: 20px;
}

/* Styling the paragraph */
p {
	font-size: 1.2rem;
	line-height: 1.6;
}

/* Add hover effect for links */
a {
	color: #0077b6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #023e8a;
}
